

.involvement-matrix-container{
  --cell-width: 30px;
  --cell-height: 30px;

  padding: 5px;
  margin: 5px;
  border-style: solid;
  border-radius: 5px;
  display: grid;
  grid-template-columns: auto 1fr; /* Div 1 takes fixed width, Div 2 stretches */
  grid-auto-rows: var(--cell-height); /* Div 1 takes fixed height, Div 3 stretches */
  grid-gap: 10px; /* Add gap between divs if desired */

  > * {
    background-color: aquamarine;
    border-radius: 5px;
  }
  
.involvement-matrix-intersection-cell {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  
  svg{
    width: var(--cell-width);
    height: var(--cell-height);
  }
}

.involvement-matrix-row-headers {
  grid-column: 2;
  grid-row: 1;
}

.involvement-matrix-col-headers {
  grid-column: 1;
  grid-row: 2;
}

.involvement-matrix-data-grid {
  grid-column: 2;
  grid-row: 2;
}
}